<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Deem Ground App - Standalone</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8cc0ae">  <td>16/02/18 11:59:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Framework_001.beforeMethod()[pri:0, instance:driverScript.Framework_001@77795061]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@791868477</td>   <td></td> </tr>
<tr bgcolor="8cc0ae">  <td>16/02/18 12:00:09</td>   <td>51808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Framework_001.main()[pri:0, instance:driverScript.Framework_001@77795061]">main</td> 
  <td>main@791868477</td>   <td></td> </tr>
</table>
