<h2>Reporter output</h2><table><tr><td>About to begin executing test Ground Reservations</td></tr>
<tr><td>About to begin executing Framework_001.beforeMethod</td></tr>
<tr><td>Completed executing Framework_001.beforeMethod</td></tr>
<tr><td>About to begin executing Framework_001.main</td></tr>
<tr><td>Completed executing Framework_001.main</td></tr>
<tr><td>TestName = null</td></tr>
<tr><td>Test Method resides in driverScript.Framework_001</td></tr>
<tr><td>Test Status: Skipped</td></tr>
<tr><td>Completed executing test Ground Reservations</td></tr>
</table>