<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6962c7">  <td>14/12/03 16:00:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Framework_002.afterMethod()[pri:0, instance:driverScript.Framework_002@40fc801f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@13626748</td>   <td></td> </tr>
<tr bgcolor="6962c7">  <td>14/12/03 15:59:36</td>   <td>-67274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Framework_002.beforeMethod()[pri:0, instance:driverScript.Framework_002@40fc801f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@13626748</td>   <td></td> </tr>
<tr bgcolor="6962c7">  <td>14/12/03 15:59:48</td>   <td>-54767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Framework_002.main()[pri:0, instance:driverScript.Framework_002@40fc801f]">main</td> 
  <td>main@13626748</td>   <td></td> </tr>
</table>
