<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92e1b2">  <td>16/03/08 23:20:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Framework_001.afterMethod()[pri:0, instance:driverScript.Framework_001@52ed76ff]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1603498566</td>   <td></td> </tr>
<tr bgcolor="92e1b2">  <td>16/03/08 23:20:46</td>   <td>-7084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Framework_001.beforeMethod()[pri:0, instance:driverScript.Framework_001@52ed76ff]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1603498566</td>   <td></td> </tr>
<tr bgcolor="92e1b2">  <td>16/03/08 23:20:52</td>   <td>-639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Framework_001.main()[pri:0, instance:driverScript.Framework_001@52ed76ff]">main</td> 
  <td>main@1603498566</td>   <td></td> </tr>
</table>
